node_modules/
build/
backend/dist/
.claude/settings.local.json
DesignDocuments/Group1_SDD_Updated (1) (4).pdf
DesignDocuments/Group02_TestReportV1.docx .docx (1).pdf
DesignDocuments/SRS_Group1_kısa3 (1) (1).pdf
backend/.env
